.footer,
.dictionary {
  margin: 30px auto;
}

.app {
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: green;
}
h3 {
  font-size: 20px;
}

li {
  list-style: none;
  color: #7bc970;
  display: inline;
  padding: 5px;
}